<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehl.demo.mapper.TaskMapper">
    <resultMap id="TaskInfo" type="com.ehl.demo.entity.Task">
    </resultMap>
    <select id="queryTask" resultMap="TaskInfo">
        select TASKID, TASKNAME, NAMESPACE, REPLICAS, DELETEFLAG, GPUMODEL, CREATEUSERID, SVCIP, CREATETIME, REALTIMESTREAM, VIDEOFILE,ALGOTYPE
        from t_dl_algoplatform_task
        <where>
            DELETEFLAG=0
            <if test="taskId != null and taskId != ''">
                and TASKID = #{taskId}
            </if>
            <if test="taskName != null and taskName != ''">
                and TASKNAME = #{taskName}
            </if>
            <if test="namespace != null and namespace != ''">
                and NAMESPACE = #{namespace}
            </if>
            limit 1
        </where>
    </select>
    <insert id="insertTaskInfo">
        insert into t_dl_algoplatform_task (TASKID, TASKNAME, NAMESPACE, REPLICAS, DELETEFLAG, GPUMODEL, CREATEUSERID, SVCIP,TASKTYPE, CREATETIME, REALTIMESTREAM, VIDEOFILE,ALGOTYPE)
        values (#{taskId}, #{taskName}, #{namespace}, #{replicas}, #{deleteFlag}, #{gpuModel}, #{createUserId},#{svcIp},#{taskType},#{taskCreateTime},#{realTimeStream}, #{videoFile}, #{algoType})
    </insert>
    <update id="updateTask">
        update t_dl_algoplatform_task
        <set>
            <if test="videoFile != null and videoFile !=''">
                VIDEOFILE = #{videoFile},
            </if>
        </set>
        <where>
            DELETEFLAG=0
            <if test="taskId != null and taskId != ''">
                and TASKID = #{taskId}
            </if>
        </where>
    </update>
    <delete id="deleteTask">
        update t_dl_algoplatform_task
        <set>
            DELETEFLAG = 1
        </set>
        <where>
            DELETEFLAG=0
            and TASKID = #{taskId}
        </where>
    </delete>
    <select id="queryTaskIds" parameterType="java.lang.String" resultType="java.lang.String">
        select TASKID
        from t_dl_algoplatform_task
        <where>
            DELETEFLAG=0
            <if test="namespace != null and namespace != ''">
                and NAMESPACE = #{namespace}
            </if>
        </where>
    </select>
</mapper>